@use 'styles/_' as *;

._ {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10px;
  gap: 10px;
  overflow: auto;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 20px;

  @include m-l {
    flex-direction: column;
    align-items: stretch;
  }
}
