@use 'styles/_' as *;

._ {
  position: sticky;
  top: 79px;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-basis: 300px;
  border: 2px solid $c-b-main;
  gap: 3px;
  background: $c-bg-secondary;
  height: calc(100vh - 130px);

  @include m-l {
    position: fixed;
    height: 100vh;
    top: calc(100% - 46px);
    left: 0;
    right: 0;
    transition: top 0.1s;

    &_active {
      top: 0;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 8px;
  background: $c-bg-accents;
  border-bottom: 2px solid $c-b-main;

  @include m-l {
    font-size: 20px;
    @include _interactive;
  }

  &_not-empty::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: $c-f-accents;
  }
}

.list {
  overflow: auto;
  flex-grow: 1;
}

.bottom {
  padding: 0 8px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 8px;
}
.total-value {
  font-size: 1.7rem;
}

.checkout {
  background: $c-bg-accents;
  border: 2px solid $c-b-main;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  flex-shrink: 0;
  @include _interactive;
}

/* item */
.item {
  display: flex;
  justify-content: space-between;
  background: $c-bg-accents;
  font-size: 1.05rem;
  gap: 10px;

  border-bottom: 2px solid $c-b-main;
  &:first-child {
    border-top: 2px solid $c-b-main;
  }
}

.item-data-wrap {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 2px;
}

.item-header {
  font-weight: 300;
}

.item-data {
  display: flex;
  gap: 5px;
}

.item-remove-wrap {
  display: flex;
}

.item-remove {
  display: flex;
  align-items: center;
  color: $c-f-tertiary;
  padding: 8px;
  font-size: 1.6rem;
  @include _interactive;
}

/* notification */
.modal {
  border: 2px solid $c-b-main;
  background: $c-bg-secondary;
  padding: 30px;
}

.modal-message {
  font-size: 2em;
  font-weight: 100;
}
